In [1]:
import sqlite3 as lite 
import sys
con = None
try:
    con = lite.connect('test.db') # connect to database
    cur = con.cursor() # create cursor
    cur.execute('SELECT SQLITE_VERSION()') # select database version 
    data = cur.fetchone() # fetch one data at a time
    print "SQLite version: %s" % data
except lite.Error, e:
    print "Error %s:" % e.args[0] 
    sys.exit(1)
finally:
    if con:
        con.close()

SQLite version: 3.8.3.1

In [2]:
import sqlite3 as lite
import sys
con = lite.connect("test.db")
with con:
    cur = con.cursor() # Drop Table If Exisits
    cur.execute("DROP TABLE IF EXISTS PhoneAddress")
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)")
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress")
    data = cur.fetchall()
    print data
    for rec in data:
        print rec[0], rec[1] 
con.close()

[(u'0912173381', u'United State'), (u'0928375018', u'Tokyo Japan'), (u'0957209108', u'Taipei')]
0912173381 United State
0928375018 Tokyo Japan
0957209108 Taipei